/* .navbar{
  position: ;
} */

body{
  background-color: #f0d78c;
}

h1{
  font-family: "Bungee Outline";
  color: #fffcc1;
  font-size: 80px;
}

h2{
  font-family: "Bungee Outline";
  color: #407088;
  font-size: 50px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('Taco.mp4') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

p{
  font-family: "Montserrat";
  font-size: 16px;
}

/* About */
.network{
  border-radius: 25px;
  border: 2px solid #4f81c7;
  padding: 0px;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: #dcedc2;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.fa-bullseye:hover {
  color: orange;
}

.fa-check-circle:hover {
  color: green;
}

.fa-heart:hover {
    color: red;
}

.icon{
  margin-bottom: 1rem;
  color: #ef8172;
}

/* carousel */

/* Footer */
.footer{
  background-color: #cf455c;
  background-image: url"taco.jpg";
  color: #ffff;
  text-align: center;
  padding: 15px 0;
}
